<% layout("/layouts/boilerplate") %>

    <div class="header" id="home">
        <div class="section__header header__container">
            <p class="section__subheader">Your Next Stay</p>
            <h1>Discover<br />Nepal</h1>
        </div>
    </div>

    <section class="section top_destination" id="top_destination">
        <div class="top__destination">
            <h2 class="section_h2">Top Destinations</h2>
            <div class="top_images_top_destination">

                <div class="image-container-2">
                    <a href="/Kathmandu">
                        <img src="/img/Kathmandu.jpg" alt="Kathmandu">
                        <div class="overlay-text">Kathmandu</div>
                    </a>
                </div>

                <div class="image-container-2">
                    <a href="/Pokhara">
                        <img src="/img/Pokhara.jpg" alt="Pokhara">
                        <div class="overlay-text">Pokhara</div>
                    </a>
                </div>

            </div>
            <div class="low_images_top_destination">

                <div class="image-container-3">
                    <a href="/Butwal">
                        <img src="/img/Butwal.jpg" alt="Butwal">
                        <div class="overlay-text">Butwal</div>
                    </a>
                </div>

                <div class="image-container-3">
                    <a href="/Mustang">
                        <img src="/img/Mustang.jpg" alt="Mustang">
                        <div class="overlay-text">Mustang</div>
                    </a>
                </div>

                <div class="image-container-3">
                    <a href="/Lumbini">
                        <img src="/img/Lumbini.jpg" alt="Lumbini">
                        <div class="overlay-text">Lumbini</div>
                    </a>
                </div>

            </div>
        </div>
    </section>

    <section class="section secton_by_type">
        <div class="stay_by_type">
            <h2 class="section_h2">Browse By Type</h2>
            <div class="stay_by_type_img">

                <div class="image-container">
                    <a href="/House">
                        <img src="/img/house.jpeg" alt="House">
                        <div class="overlay-text">House</div>
                    </a>
                </div>

                <div class="image-container">
                    <a href="/Apartment">
                        <img src="/img/apartment.jpeg" alt="Apartment">
                        <div class="overlay-text">Apartment</div>
                    </a>
                </div>

                <div class="image-container">
                    <a href="/Hotels">
                        <img src="/img/Hotel.jpeg" alt="Hotels">
                        <div class="overlay-text">Hotels</div>
                    </a>
                </div>

                <div class="image-container">
                    <a href="/Tent">
                        <img src="/img/Tent.jpeg" alt="Tent">
                        <div class="overlay-text">Tent</div>
                    </a>
                </div>

                <div class="image-container">
                    <a href="/Guest House">
                        <img src="/img/guesthouse.jpeg" alt="Guest House">
                        <div class="overlay-text">Guest House</div>
                    </a>
                </div>

                <div class="image-container">
                    <a href="/Bed and Breakfast">
                        <img src="/img/Breakfast-in-Bed.jpg" alt="Bed and Breakfast">
                        <div class="overlay-text">Bed and Breakfast</div>
                    </a>
                </div>

                <div class="image-container">
                    <a href="/HomeStay">
                        <img src="/img/Resort.jpeg" alt="HomeStay">
                        <div class="overlay-text">HomeStay</div>
                    </a>
                </div>

                <div class="image-container">
                    <a href="/Cabin">
                        <img src="/img/cabin.jpg" alt="Cabin">
                        <div class="overlay-text">Cabin</div>
                    </a>
                </div>

            </div>
        </div>
    </section>